<a href="https://colab.research.google.com/github/Vaibhav67979/Ecommerce-product-recommendation-system/blob/main/product_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Importing libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics.pairwise import cosine_similarity

from sklearn.metrics import mean_squared_error

## Importing Dataset

In [2]:
#Import the data set
df = pd.read_csv('/content/drive/MyDrive/Electronics.csv', header=None) #There are no headers in the data file

df.columns = ['user_id', 'prod_id', 'rating', 'timestamp'] #Adding column names

df = df.drop('timestamp', axis=1) #Dropping timestamp

df_copy = df.copy(deep=True) #Copying the data to another dataframe

In [3]:
# see few rows of the imported dataset
df.head()

      user_id         prod_id  rating
0  0060009810  A1N070NS9CJQ2I     5.0
1  0060009810  A3P0KRKOBQK1KN     5.0
2  0060009810  A192HO2ICJ75VU     5.0
3  0060009810  A2T278FKFL3BLT     4.0
4  0060009810  A2ZUXVTW8RXBXW     5.0

## EDA - Exploratory Data Analysis

check for -
- shape 
- datatype
- missing values


finally get the summary and check
- rating distribution.
- number of users and products.
- Users with highest no of ratings.